#root{
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.App{
  background-color: #5FAFFF;
}