
.Expense__form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 840px;
    border-top: 1px solid white;
}
.Expense__transfer{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.Expense__title{
    font-size: 36px;
    font-weight: 500;
    line-height: 120%;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.Expense__selects{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}
.Expense__select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.Expense__select:last-of-type{
    margin: 0;
}
.Expense__subtitle{
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .5);
    margin-right: 25px;
}
.Expense__select-element{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;

}
.Expense__select-element_type_income{
    margin-left: 30px;
}
.Expense__input{
    width: 250px;
    height: 50px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    box-sizing: border-box;
    border-radius: 10px;
}
.Expense__input_type_date{
    margin-top: 20px;
}
.Expense__input_type_description{
    width: 740px;
}
.Expense__input:invalid {
    color: red;
    box-shadow: none;
}
.Expense__inputs{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.Expense__error{
    width: 250px;
    font-size: 14px;
    color: red;
}
.Expense__span{
    width: 250px;
    height: 60px;
}
.Expense__button_state_disable{
    background: #8b8b8b;
    opacity: .8;
    pointer-events: none;
}